body {
    width: 100%;
    margin: 0 auto;
}
#header {
    display: flex;
    height: 2em;
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: space-between;
    background-color: rgb(129, 90, 18)
}

#nav-bar {
    width: 25em;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 10%;
}

.nav-link {
    font-size: 1.3rem;
    color: rgb(215, 201, 201);
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}


